@model WOM_EYE.DTOs.Auth.ChangePasswordDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>


    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />



</head>
<body>

    <h1>Change password</h1>
    <hr />
    <br />

    <form asp-action="ChangePassword" method="post" asp-controller="Login">

        <!-- Input Hidden UserId-->
        <input asp-for="userId" type="hidden" name="userId" id="userId" value="@ViewBag.UserId" style="border-radius:10rem;" />

        <!-- Password Old-->
        <div class="form-group row">
            <label asp-for="passOld" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-10">
                <input asp-for="passOld" type="password" class="form-control" id="passOld" name="passOld" placeholder="Write your old password" style="border-radius:10rem;">
                <span asp-validation-for="passOld" class="text-danger"></span>
            </div>
        </div>

        <!-- Password New-->
        <div class="form-group row">
            <label asp-for="passNew" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-10">
                <input asp-for="passNew" type="password" class="form-control" id="passNew" name="passNew" placeholder="Write your new password" style="border-radius:10rem;">
                <span asp-validation-for="passNew" class="text-danger"></span>
            </div>
        </div>

        <!-- Password Confirmation-->
        <div class="form-group row">
            <label asp-for="passConfirm" class="col-sm-2 col-form-label">Confirm Password Baru</label>
            <div class="col-sm-10">
                <input asp-for="passConfirm" type="password" class="form-control" id="passConfirm" name="passConfirm" placeholder="Write your new password" style="border-radius:10rem;">
                <span asp-validation-for="passConfirm" class="text-danger"></span>
            </div>
        </div>

        <!--Button Submit-->
        <input type="submit" value="Change" class="btn btn-primary btn-user btn-block" style="border-radius:10rem;" />

    </form>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        function openSuccessModal(strMessage) {
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        function openErrorModal(strMessage) {
            var myDiv = document.getElementById("MyModalErrorAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalError').modal('show');
        }

        $(document).ready(function () {
            var code = "@TempData["MyResponseCode"]";
            var msg = "@TempData["MyResponseMessage"]";
             if (code == "200") {
                openSuccessModal(msg);
                 Swal.fire({
                     icon: 'success',
                     title: 'Success',
                     text: msg
                 });
            } else if (code == "203") {
                 //openWarningModal("Non-Authoritative Information: " + msg);
                 Swal.fire({
                     icon: 'warning',
                     title: 'Non-Authoritative Information',
                     text: msg
                 });
            } else if (code == "404") {
                 //openErrorModal("Not Found: " + msg);
                 Swal.fire({
                     icon: 'error',
                     title: 'Not Found',
                     text: msg
                 });
            }else {
                if (@TempData["MyResponseCode"] != null && @TempData["MyResponseCode"] != "xx")
                     //openErrorModal("Update Failed: " + msg);
                 Swal.fire({
                     icon: 'error',
                     title: 'Update Failed',
                     text: msg
                 });
            }
           
        });
    </script>


</body>
</html>

